.friends-display-link {
  text-align: center;
  background-color: #fafafa;
  padding: 10px;
}

.friends-display-link i {
  opacity: 0.3;
}

.friends-display-link a {
  font-size: 15px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}

.friend-screen {
  padding: 15px var(--horizontal-space);
}

.friend-screen__channel {
  border-top: var(--main-border);
  margin-top: 25px;
  padding-top: 15px;
}

.friend-screen__channel-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.5);
}
