.welcome-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 90px 0px;
    text-align: center;
}

.welcome-header__title {
    font-size: 40px;
    font-weight: 600;
}

.welcome-header__text {
    margin-top: 25px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    width: 60%;
}
