.nav-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fafafa;
  box-sizing: border-box;
  padding: 15px 50px;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav-bar__list {
  display: flex;
  justify-content: space-between;
}

.nav-bar__link {
  color: #2e363e;
  position: relative;
}

.nav-bar__notification {
  position: absolute;
  bottom: 23px;
  left: 20px;
}
